:root {
  --bs-primary: #5ece7b;
  --bs-body-color: #1d1f22;
}

body {
  color: var(--bs-body-color);
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.border-primary {
  border-color: var(--bs-primary) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}
